@media (max-width: 400px) {
  h2 {
    font-size: 10vmin;
  }
  p {
    font-size: small
  }
}

@media (max-width: 800px) {

}

@media (max-width: 1030px) {
  li {
    margin: .5em;
  }

  #hamburger {
    margin: 14px;
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;

    background-color: #313F52;
  }

  #hamburger:hover {
    cursor: pointer;
    opacity: 60%;
  }

  #hamburger svg {
    text-align: center;
    width: 8vmin;
    height: 8vmin;
  }

  .hamburger-section {
    position: fixed;
    z-index: 10;
    top: 4rem;
    right: 1.5vmin;

    height: fit-content;
    width: 20vmin;

    text-align: right;
    background-color: #71859f;
  }

  .App-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:start;

    height: 20%;
    width: 100%;
  }

  .menu-show {
    display: none;
  }

  .App-header.active {
    display: none;
  }

  .intro {
    display: flex;
    flex-direction: column;
  }

  .intro section:first-child {
    order: 1
  }

  .prof {
    height: 40vmin;
    margin-bottom: 8vmin;

    z-index: 1;
  }

  #intro-sent {
    margin: 0;
  }
}

@media (max-width: 1060px), (max-height: 650px) {
  .App-body {
    padding-left: 1em;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%
  }

  .about-me, .intro section {
    display: flex;
    flex-direction: column;

    text-align: center;
  }

  .proj-div {
    position: static;
  }

  .proj-div section {
    display: flex;
    justify-content: center;
    align-items: center;

    height: fit-content;
  }

  .proj-photo {
    /* position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto; */
    display: none;
  }

  .proj-text {
    position: static;
    /* left: 0;
    top: 0; */
    height: 60vmin;
    width: 90vmin;
    margin: 2vmin 0;
    background-color: #313F52;
    opacity: 80%;

    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    
  }
  #tsp.proj-text::before {
    content: '';
    position: absolute;
    height: 60vmin;
    width: 90vmin;
    opacity: 10%;
    background: url('./assets/images/tsp.png') center / cover;
    z-index: -1;
  }
  #hotel.proj-text::before {
    content: '';
    position: absolute;
    height: 60vmin;
    width: 90vmin;
    opacity: 10%;
    background: url('./assets/images/hotel.jpg') center / cover;
    z-index: -1;
  }

  .proj-text p {
    font-size: 12vmin;
  }


  #proj-title {
    color: #71859f;
    font-size: 5vmin;
  }

  #proj-desc {
    background-color: transparent;

    font-size: 3vmin;
  }

  #proj-tech {
    color: white;
    font-size: 2vmin;
  }

  #proj-icons {
    font-size: 4vmin;
  }

  #skillsdiv {
    width: 90%;
  }

  .contact-info-text {
    width: 90%
  }

  .socials {
    display: flex;
    flex-direction: row;
  }

  #contact-icons {
    font-size: 24px;
  }

  .res-container {
    margin-top: 13px;
  }

  #resume-bottom {
    display: contents;
    font-size: 20px;
  }

  .back-up{
    display: flex;
    justify-content: center;
  }
}
